# Limpiando Data

In [1]:
import pandas as pd

In [5]:
df_data_historica=pd.read_csv("mundiales.csv")
df_data_actual=pd.read_csv("fifa_worldcup_fixture.csv")

In [21]:
df_data_actual.home.unique()

array(['Qatar\xa0', 'Senegal\xa0', 'Netherlands\xa0', 'Ecuador\xa0',
       'England\xa0', 'United States\xa0', 'Wales\xa0', 'Iran\xa0',
       'Argentina\xa0', 'Mexico\xa0', 'Poland\xa0', 'Saudi Arabia\xa0',
       'Denmark\xa0', 'France\xa0', 'Tunisia\xa0', 'Australia\xa0',
       'Germany\xa0', 'Spain\xa0', 'Japan\xa0', 'Costa Rica\xa0',
       'Morocco\xa0', 'Belgium\xa0', 'Croatia\xa0', 'Canada\xa0',
       'Switzerland\xa0', 'Brazil\xa0', 'Cameroon\xa0', 'Serbia\xa0',
       'Uruguay\xa0', 'Portugal\xa0', 'South Korea\xa0', 'Ghana\xa0',
       'Winners Group A', 'Winners Group C', 'Winners Group D',
       'Winners Group B', 'Winners Group E', 'Winners Group G',
       'Winners Group F', 'Winners Group H', 'Winners Match 53',
       'Winners Match 49', 'Winners Match 55', 'Winners Match 51',
       'Winners Match 57', 'Winners Match 59', 'Losers Match 61',
       'Winners Match 61'], dtype=object)

In [24]:
for  i  in df_data_actual.columns:
    print(i)

home
score
away
year

### Limpiando df_data_actual

In [25]:
for i in df_data_actual.columns:
    print("----------------------------{}--------------------".format(i))
    print(df_data_actual[str(i)].unique())

----------------------------home--------------------
['Qatar\xa0' 'Senegal\xa0' 'Netherlands\xa0' 'Ecuador\xa0' 'England\xa0'
 'United States\xa0' 'Wales\xa0' 'Iran\xa0' 'Argentina\xa0' 'Mexico\xa0'
 'Poland\xa0' 'Saudi Arabia\xa0' 'Denmark\xa0' 'France\xa0' 'Tunisia\xa0'
 'Australia\xa0' 'Germany\xa0' 'Spain\xa0' 'Japan\xa0' 'Costa Rica\xa0'
 'Morocco\xa0' 'Belgium\xa0' 'Croatia\xa0' 'Canada\xa0' 'Switzerland\xa0'
 'Brazil\xa0' 'Cameroon\xa0' 'Serbia\xa0' 'Uruguay\xa0' 'Portugal\xa0'
 'South Korea\xa0' 'Ghana\xa0' 'Winners Group A' 'Winners Group C'
 'Winners Group D' 'Winners Group B' 'Winners Group E' 'Winners Group G'
 'Winners Group F' 'Winners Group H' 'Winners Match 53' 'Winners Match 49'
 'Winners Match 55' 'Winners Match 51' 'Winners Match 57'
 'Winners Match 59' 'Losers Match 61' 'Winners Match 61']
----------------------------score--------------------
['Match 1' 'Match 2' 'Match 18' 'Match 19' 'Match 35' 'Match 36' 'Match 3'
 'Match 4' 'Match 17' 'Match 20' 'Match 33' 'Match 34' 'Match 8' 'Match 7'
 'Match 22' 'Match 24' 'Match 39' 'Match 40' 'Match 6' 'Match 5'
 'Match 21' 'Match 23' 'Match 37' 'Match 38' 'Match 11' 'Match 10'
 'Match 25' 'Match 28' 'Match 43' 'Match 44' 'Match 12' 'Match 9'
 'Match 26' 'Match 27' 'Match 41' 'Match 42' 'Match 13' 'Match 16'
 'Match 29' 'Match 31' 'Match 47' 'Match 48' 'Match 14' 'Match 15'
 'Match 30' 'Match 32' 'Match 45' 'Match 46' 'Match 49' 'Match 50'
 'Match 52' 'Match 51' 'Match 53' 'Match 54' 'Match 55' 'Match 56'
 'Match 58' 'Match 57' 'Match 60' 'Match 59' 'Match 61' 'Match 62'
 'Match 63' 'Match 64']
----------------------------away--------------------
['\xa0Ecuador' '\xa0Netherlands' '\xa0Senegal' '\xa0Qatar' '\xa0Iran'
 '\xa0Wales' '\xa0United States' '\xa0England' '\xa0Saudi Arabia'
 '\xa0Poland' '\xa0Mexico' '\xa0Argentina' '\xa0Tunisia' '\xa0Australia'
 '\xa0Denmark' '\xa0France' '\xa0Japan' '\xa0Costa Rica' '\xa0Germany'
 '\xa0Spain' '\xa0Croatia' '\xa0Canada' '\xa0Morocco' '\xa0Belgium'
 '\xa0Cameroon' '\xa0Serbia' '\xa0Switzerland' '\xa0Brazil'
 '\xa0South Korea' '\xa0Ghana' '\xa0Uruguay' '\xa0Portugal'
 'Runners-up Group B' 'Runners-up Group D' 'Runners-up Group C'
 'Runners-up Group A' 'Runners-up Group F' 'Runners-up Group H'
 'Runners-up Group E' 'Runners-up Group G' 'Winners Match 54'
 'Winners Match 50' 'Winners Match 56' 'Winners Match 52'
 'Winners Match 58' 'Winners Match 60' 'Losers Match 62'
 'Winners Match 62']
----------------------------year--------------------
[2022]

#### Hay, tanto en home como en away, huecos en blanco en los valores. Los eliminamos.

In [30]:
df_data_actual["home"]=df_data_actual["home"].str.strip()
df_data_actual["away"]=df_data_actual["away"].str.strip()
print(df_data_actual.away.unique())
print(df_data_actual.home.unique())

['Ecuador' 'Netherlands' 'Senegal' 'Qatar' 'Iran' 'Wales' 'United States'
 'England' 'Saudi Arabia' 'Poland' 'Mexico' 'Argentina' 'Tunisia'
 'Australia' 'Denmark' 'France' 'Japan' 'Costa Rica' 'Germany' 'Spain'
 'Croatia' 'Canada' 'Morocco' 'Belgium' 'Cameroon' 'Serbia' 'Switzerland'
 'Brazil' 'South Korea' 'Ghana' 'Uruguay' 'Portugal' 'Runners-up Group B'
 'Runners-up Group D' 'Runners-up Group C' 'Runners-up Group A'
 'Runners-up Group F' 'Runners-up Group H' 'Runners-up Group E'
 'Runners-up Group G' 'Winners Match 54' 'Winners Match 50'
 'Winners Match 56' 'Winners Match 52' 'Winners Match 58'
 'Winners Match 60' 'Losers Match 62' 'Winners Match 62']
['Qatar' 'Senegal' 'Netherlands' 'Ecuador' 'England' 'United States'
 'Wales' 'Iran' 'Argentina' 'Mexico' 'Poland' 'Saudi Arabia' 'Denmark'
 'France' 'Tunisia' 'Australia' 'Germany' 'Spain' 'Japan' 'Costa Rica'
 'Morocco' 'Belgium' 'Croatia' 'Canada' 'Switzerland' 'Brazil' 'Cameroon'
 'Serbia' 'Uruguay' 'Portugal' 'South Korea' 'Ghana' 'Winners Group A'
 'Winners Group C' 'Winners Group D' 'Winners Group B' 'Winners Group E'
 'Winners Group G' 'Winners Group F' 'Winners Group H' 'Winners Match 53'
 'Winners Match 49' 'Winners Match 55' 'Winners Match 51'
 'Winners Match 57' 'Winners Match 59' 'Losers Match 61'
 'Winners Match 61']

#### Limpiando df_data_historica.

In [38]:
df_data_historica.isnull().any()

home     False
score    False
away     False
year     False
dtype: bool

In [37]:
df_data_historica.duplicated().any()

False

In [57]:
print(df_data_historica["home"].unique())
print(df_data_historica["away"].unique())

['France ' 'Argentina ' 'Chile ' 'Yugoslavia ' 'Brazil ' 'Romania '
 'Uruguay ' 'United States ' 'Paraguay ' 'Spain ' 'Hungary '
 'Switzerland ' 'Italy ' 'Czechoslovakia ' 'Sweden ' 'Austria ' 'Germany '
 'Cuba ' 'England ' 'West Germany ' 'Turkey ' 'Northern Ireland '
 'Mexico ' 'Wales ' 'Soviet Union ' 'Portugal ' 'North Korea ' 'Belgium '
 'Peru ' 'Bulgaria ' 'East Germany ' 'Australia ' 'Zaire ' 'Scotland '
 'Netherlands ' 'Poland ' 'Haiti ' 'Tunisia ' 'Algeria ' 'Honduras '
 'South Korea ' 'Iraq ' 'Canada ' 'Denmark ' 'Morocco ' 'Cameroon '
 'Costa Rica ' 'United Arab Emirates ' 'Republic of Ireland ' 'Colombia '
 'Russia ' 'Bolivia ' 'Nigeria ' 'Greece ' 'Norway ' 'Saudi Arabia '
 'South Africa ' 'FR Yugoslavia ' 'Jamaica ' 'Japan ' 'Senegal '
 'Slovenia ' 'China ' 'Croatia ' 'Ecuador ' 'Trinidad and Tobago '
 'Serbia and Montenegro ' 'Ivory Coast ' 'Angola ' 'Iran '
 'Czech Republic ' 'Ghana ' 'Togo ' 'Ukraine ' 'Serbia ' 'New Zealand '
 'Slovakia ' 'Bosnia and Herzegovina ' 'Egypt ' 'Iceland ' 'Panama ']
[' Mexico' ' France' ' Chile' ' Brazil' ' Bolivia' ' Peru' ' Romania'
 ' Belgium' ' Paraguay' ' United States' 'Yugoslavia' ' Argentina'
 ' Egypt' ' Netherlands' ' Hungary' ' Spain' ' Sweden' ' Switzerland'
 ' Austria' ' Germany' ' Czechoslovakia' ' Dutch East Indies' ' Norway'
 ' Poland' ' Cuba' ' Yugoslavia' ' England' ' Italy' ' Turkey'
 ' South Korea' ' West Germany' ' Scotland' ' Uruguay' ' Northern Ireland'
 ' Wales' ' Soviet Union' ' Colombia' ' Bulgaria' ' North Korea'
 ' Portugal' ' El Salvador' ' Israel' ' Morocco' ' Australia'
 ' East Germany' ' Zaire' ' Haiti' ' Tunisia' ' Iran' ' Cameroon'
 ' Algeria' ' Kuwait' ' Honduras' ' New Zealand' ' Iraq' ' Canada'
 ' Denmark' ' Costa Rica' ' United Arab Emirates' ' Republic of Ireland'
 ' Russia' ' Greece' ' Nigeria' ' Saudi Arabia' ' South Africa'
 ' FR Yugoslavia' ' Japan' ' Croatia' ' Jamaica' ' Senegal' ' Slovenia'
 ' China' ' Ecuador' ' Trinidad and Tobago' ' Ivory Coast'
 ' Serbia and Montenegro' ' Angola' ' Czech Republic' ' Ghana' ' Togo'
 ' Ukraine' ' Serbia' ' Slovakia' ' Bosnia and Herzegovina' ' Iceland'
 ' Panama']

#### Hay espacios en blanco.

In [60]:
df_data_historica["home"]=df_data_historica["home"].str.replace(" ","")
df_data_historica["away"]=df_data_historica["away"].str.replace(" ","")

#### Hay un partido que no se jugó entre Suecia y Astruia

In [67]:
df_data_historica.loc[df_data_historica.home=="Sweden"].loc[df_data_historica.away=="Austria"]

      home   score     away  year
37  Sweden  w/o[a]  Austria  1938

In [69]:
index_eliminar = df_data_historica.loc[df_data_historica.home=="Sweden"].loc[df_data_historica.away=="Austria"].index
df_data_historica.drop(index=index_eliminar,inplace=True)

In [71]:
df_data_historica["score"]

0               4–1
1               1–0
2               3–0
3               1–0
4               6–3
           ...
896    2–2 (a.e.t.)
897             1–0
898    2–1 (a.e.t.)
899             2–0
900             4–2
Name: score, Length: 900, dtype: object

#### Hay scores que contienen expresiones extrañas

In [85]:
df_data_historica["score"]=df_data_historica["score"].str.replace("[^\d–]","",regex=True)

#### Separamos el resultado en dos.

In [93]:
df_data_historica[["homeGoals","awayGolas"]]= df_data_historica["score"].str.split("–",expand=True)

In [94]:
df_data_historica.drop("score",axis=1,inplace=True)

In [95]:
df_data_historica.rename(columns={"home":"HomeTeam","away":"AwayTeam","year":"Year"},inplace=True)

In [97]:
df_data_historica.dtypes

HomeTeam     object
AwayTeam     object
Year          int64
homeGoals    object
awayGolas    object
dtype: object

In [101]:
df_data_historica

      HomeTeam AwayTeam  Year homeGoals awayGolas
0       France   Mexico  1930         4         1
1    Argentina   France  1930         1         0
2        Chile   Mexico  1930         3         0
3        Chile   France  1930         1         0
4    Argentina   Mexico  1930         6         3
..         ...      ...   ...       ...       ...
896     Russia  Croatia  2018         2         2
897     France  Belgium  2018         1         0
898    Croatia  England  2018         2         1
899    Belgium  England  2018         2         0
900     France  Croatia  2018         4         2

[900 rows x 5 columns]

#### Renombramos columnas y cambiamos la tipología de los datos.

In [112]:
df_data_historica=df_data_historica.rename(columns={"awayGolas":"awayGoals"})

In [118]:
df_data_historica["awayGoals"].unique()

array(['1', '0', '3', '2', '5', '4', '7', None], dtype=object)

In [126]:
df_data_historica.drop(index=df_data_historica.loc[df_data_historica["awayGoals"].isnull()].index,inplace=True)

In [129]:
df_data_historica=df_data_historica.astype({"awayGoals":int,"homeGoals":int})

#### Exportamos dataframes limpios

In [132]:
df_data_historica.to_csv("clean_mundiales.csv",index=False)
df_data_actual.to_csv("clean_wordcup_fixtue.csv",index=False)